<div class="dialog">
    <div class="title">
        <span>
            <b>buy pokemon</b>
        </span>
        <button (click)="onNoClick()">&times;</button>
    </div>
    <div class="d-flex flex-column box" *ngIf="pokemon">
        <div class="d-flex flex-row">
            <div>
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{pokemon.id}}.png"
                    alt="">
            </div>
            <div>
                <p>name: {{pokemon.name}} </p>
                <p>lvl: {{pokemon.lvl}}</p>
                <p>price: {{data.price}}</p>
            </div>
        </div>
        <div style="display: flex; flex-direction: column; flex-wrap: wrap;">
            <p *ngFor="let stat of stats"> {{stat.name}} : {{stat.key}}</p>
            <span>moves :
                <span *ngFor="let m of pokemon.moves"> {{m.name}} /</span>
            </span>
        </div>
    </div>
    <button (click)="onClick()" class="btn btn-success">Acheter</button>
</div>