.btnHome {
  position: fixed;
  bottom: 55px;
  font-weight: bold;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  border: none;
  height: 30px;
}

.app {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@media (min-width: 0px) and (max-width: 945px) {
  .app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
