<div class="app ">
  <h1 class="m-5"><img src="./assets/poke-titre-portable 1.png" alt="" width="300" height="120"></h1>

  <div *ngIf="!page">
    <button *ngIf="!isLogged" class="button" routerLink="auth/login">
      <p>login</p>
    </button>

    <button *ngIf="!isLogged" class="button" routerLink="auth/signup">
      <p>signup</p>
    </button>

    <button *ngIf="isLogged" class="btn btn-secondary button " (click)="disconnect()">
      <p>disconnect</p>
    </button>
  </div>  
</div>


<div class="d-flex flex-column align-items-center">
  <router-outlet></router-outlet>
  <button class="mt-5 btnHome menuButton " routerLink="">HOME</button>
</div>