
<div class="container pokemon" style="margin-bottom: px0;" *ngIf="pokemon">
  <div class="d-flex align-items-end justify-content-around {{ isFront ? 'flex-row-reverse ' : '' }}">
    <img *ngIf="pokemon.hp > 0" [ngClass]="isFront ? 'spriteFront' : 'spriteBack'" width="150px" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon{{ isFront ? '' : '/back' }}/{{ pokemon !== undefined ? pokemon.id : 0 }}.png" alt="">

    <div class="d-flex justify-content-center align-items-end" *ngIf="pokemon.hp <= 0" [ngClass]="isFront ? 'spriteFront' : 'spriteBack'">
      <img [ngClass]="isFront ? 'pokebalFront' : 'pokebalBack'" src="./assets/pokeball.png" alt="" >
    </div>

    <div class="hpCard" [ngClass]="isFront ? 'hpCardFront' : 'hpCardBack'">
     <div class="d-flex flex-row">
      <div class="playerName">
        <p>
          {{player}}
        </p>
      </div>
      <div class="team">
        <img *ngFor="let poke of [].constructor(pokeNb)" src="./assets/pokeball-stack-battle.png" alt="" height="15">
        <img *ngFor="let poke of [].constructor(6-pokeNb)" src="./assets/pokeball-stack-battle-empty.png" alt="" height="15">
      </div>
     </div>
      
      <p class="pokeName">
        {{ pokemon.name | titlecase }}
      </p>
      <div class="d-flex align-items-center">
        <div class="hpLabel">
          hp
        </div>
        <div class="lifeBarRed">
          <div class="lifeBar" [ngStyle]="{'width': (pokemon.hp / pokemon.hpMax) * 100 + '%'}">
        </div>

        </div>
      </div>
      <div class="d-flex justify-content-end">
        <div>

        </div>
        <div class="hpInfo">
          {{ pokemon.hp }}  / {{ pokemon.hpMax }}
      </div>
      </div>
    </div>
  </div>
</div>

