<div style="width: 100vw;">
  <div class="d-flex justify-content-between">

    <div class="pokeSelector d-flex flex-wrap justify-content-center">
      <div class="m-1" *ngFor="let card of pokeCards">
        <div class="pokeCard d-flex flex-column align-items-center"
            [ngClass]="pokemonPlayer[0][0] === card.id ? 'pokeCardSelected' : '' "
            (click)="selectPoke(0,card.id)"
        >
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{card.id}}.png" alt="">
            <p>
              <b>
                {{card.name}}
              </b>
            </p>
        </div>
      </div>
    </div>

    <button class="buttonFight" (click)="fight()">
      <b>
        FIGHT
      </b>
    </button>

    <div class="pokeSelector d-flex flex-wrap justify-content-center">
      <div class="m-1"  *ngFor="let card of pokeCards">
        <div class="pokeCard d-flex flex-column align-items-center"
            [ngClass]="pokemonPlayer[1][0] === card.id ? 'pokeCardSelected' : '' "
            (click)="selectPoke(1,card.id)"
        >
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{card.id}}.png" alt="">
            <p>
              <b>
                {{card.name}}
              </b>
            </p>
        </div>
      </div>
    </div>

  </div>
</div>

<button class="backButton menuButton" (click)="lastPage()">
  <img width="25px" src="./assets/backArrow.svg" alt="">
</button>
