<div class="">
<!-- 
  <button class="playpause" (click)="toggle()">
    <img *ngIf="toggler === false" width="50px" src="./assets/button-play-pokemon.png" alt="">
    <img *ngIf="toggler === true" width="50px" src="./assets/button-pause-pokemon.png" alt="">
  </button> -->

  <div class="d-flex flex-row">
    <div class="pokeBattle d-flex flex-column justify-content-start" *ngIf="pokemons[0] || pokemons[1]">
      <app-pokemon [player]="players[1]" [pokemon]="this.pokemons[1][cp[1]]" [pokeNb]="this.pokemons[1].length" [isFront]="true"></app-pokemon>
      <app-pokemon [player]="players[0]" [pokemon]="this.pokemons[0][cp[0]]" [pokeNb]="this.pokemons[0].length" [isFront]="false"></app-pokemon>
    </div>

    <div class="logBox">
      <div class="d-flex flex-column">
        <div *ngFor="let log of logs; let i = index">
          <p *ngIf="log.winner === undefined" class="logText" [ngClass]="log.color === 0 ? 'logPlayer1': 'logPlayer2'">
            [{{currentTime[i] | date:'HH:mm:ss'}}] : {{log.text | titlecase}}</p>
          <p *ngIf="log.winner !== undefined" class="logText logLoser">{{log.text | titlecase}}</p>
          <p *ngIf="log.winner !== undefined" class="logText logWinner">{{players[log.winner] | titlecase}} win the
            battle.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="actionBox d-flex flex-row" *ngIf="pokemons[0]" >
    <div class="d-flex flex-column" *ngIf="pokemons[0][0]">
      <div class="atkBox" (click)="atkMove(pokemons[0][0].moves[0])"> {{pokemons[0][0].moves[0].name}} </div>
      <div class="atkBox" (click)="atkMove(pokemons[0][0].moves[1])"> {{pokemons[0][0].moves[1].name}} </div>
    </div>
    <div class="d-flex flex-column" *ngIf="pokemons[0][0]">
      <div class="atkBox" (click)="atkMove(pokemons[0][0].moves[2])"> {{pokemons[0][0].moves[2].name}} </div>
      <div class="atkBox" (click)="atkMove(pokemons[0][0].moves[3])"> {{pokemons[0][0].moves[3].name}} </div>
    </div>
    <div class="atkBox" (click)="toggle()"> changer de pokemon </div>
    <div class="atkBox" (click)="toggle()"> soigner </div>
  </div>

  <button class="backButton menuButton" routerLink="/pokeChoice">
    <img width="25px" src="./assets/backArrow.svg" alt="">
  </button>

</div>