<div class="pokeSelector d-flex flex-wrap justify-content-center">
    <div class="m-1" *ngFor="let pokemon of pokeShop">
        <div (click)="onClick(pokemon)" class="pokeCard d-flex flex-column align-items-center">
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{pokemon.poke_id}}.png"
                alt="">
            <p>
                <b>
                    {{pokemon.name}}
                </b>
                price :{{pokemon.price}}
            </p>
            <span>
                level: {{pokemon.lvl}}
            </span>
        </div>
    </div>
</div>